In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import statsmodels.api as sm
from pandas.plotting import scatter_matrix
from sklearn import linear_model
from sklearn.model_selection import train_test_split

%matplotlib inline

In [2]:
df = pd.read_csv('Advertising.csv', index_col=0)
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [12]:
from itertools import combinations

In [13]:
rows = []
for i in range(1,4):
    combos = list(combinations(['TV', 'radio', 'newspaper'],i))
    for j,com in enumerate(combos):
        y = df.sales
        X = pd.DataFrame(df, columns=com)
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
        model = linear_model.LinearRegression(fit_intercept=True).fit(X_train, y_train)
        score = model.score(X_test, y_test)
        s = ', '.join(com)
        rows.append({'Score':score, 'Columns':s, 'Coef':model.coef_,'Int':model.intercept_})
        # print('score:', score, 'columns:', s)
df1 = pd.DataFrame(rows)
df1.head()

                                 Coef        Columns        Int     Score
0                   [0.0482245128152]             TV   7.066583  0.623689
1                    [0.223774515044]          radio   9.290417  0.081757
2                   [0.0658344742479]      newspaper  12.602571 -0.111407
3   [0.0447396196487, 0.199355464099]      TV, radio   2.867355  0.859348
4  [0.0472036046549, 0.0507723040181]  TV, newspaper   5.673310  0.643582

In [17]:
df1.max(0,5)

Int      12.602571
Score     0.859348
dtype: float64

In [19]:
df1

,Coef,Columns,Int,Score
0,[0.0482245128152],TV,7.066583,0.623689
1,[0.223774515044],radio,9.290417,0.081757
2,[0.0658344742479],newspaper,12.602571,-0.111407
3,"[0.0447396196487, 0.199355464099]","TV, radio",2.867355,0.859348
4,"[0.0472036046549, 0.0507723040181]","TV, newspaper",5.673310,0.643582
5,"[0.216625857637, 0.0156987409941]","radio, newspaper",8.980343,0.071047
6,"[0.0446651206327, 0.196630062826, 0.0060743865...","TV, radio, newspaper",2.758072,0.855557

In [20]:
"""
The best R2 is 0.859348

The formula is = 2.867355 + (.0447*TV)+(0.994*Radio)

"""

'\nThe best R2 is 0.859348\n\nThe formula is = 2.867355 + (.0447*TV)+(0.994*Radio)\n\n'

In [25]:
"""Predict the sales for TV=199, Radio=32, Newspaper=88"""

Sales = 2.867355 + (.0447*199)+(0.1994*32)
print('The Sales would be $', Sales)

The Sales would be $ 18.143455